{% extends "base.html" %}

{% block navibar %}
	<ul class="nav">
		<li class="nav-item"><a class="nav-link active" href="{% url 'organization_list' %}">账本</a></li>
		<li class="nav-item"><a class="nav-link active" href="{% url 'commodity_list' %}">物资</a></li>
		<li class="nav-item"><a class="nav-link active" href="{% url 'wallet_list' %}">钱包</a></li>
		<li class="nav-item"><a class="nav-link active" href="{% url 'transaction_list' %}">交易</a></li>
		<li class="nav-item"><a class="nav-link active" href="{% url 'task_list' %}">任务</a></li>
		<li class="nav-item"><a class="nav-link active" href="{% url 'supplier_list' %}">供应商</a></li>
		<li class="nav-item"><a class="nav-link active" href="{% url 'jdcommodity_list' %}">京东商品</a></li>
		<li class="nav-item"><a class="nav-link active" href="{% url 'tmcommodity_list' %}">天猫商品</a></li>
		<li class="nav-item"><a class="nav-link active" href="{% url 'daily_task' %}">经营调整</a></li>
	</ul>
{% endblock %}
