{% extends "base_single.html" %}
{% block navbar %}{% include 'vault/content/navbar.html' %}{% endblock %}
{% block header %}{{organization}}: {{object}}账本{% endblock %}

{% block content %}
	<table border="1" cellpadding="4">
		<tr>
			<th>组织</th>
			<th>资产</th>
			<th>负债</th>
			<th>收入</th>
			<th>支出</th>
			<th>所有者权益</th>
		</tr>
		{% for o in organizations %}
		<tr>
			<td>{{o}}</td>
			{% for accounts in o.accounts_info %}
			<td>
				<table cellpadding="4">
					{% for a in accounts %}
					<tr>
						<td align="left"><a href="{% url 'account_detail' a.uuid %}">{{a.name}}</a></td>
						<td align="right">{{a.balance}}</td>
					</tr>
					{% endfor %}
				</table>
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
		<tr>
			<td>合计</td>
			{% for i in total %}
				<td align="right">{{i}}</td>
			{% endfor %}
		</tr>
	</table>
{% endblock %}
