{% extends "base.html" %}

{% block header %}进货{% endblock %}

{% block extra_script %}
	<script>
		jQuery(document).ready(function(){
			jQuery("#item_keyword").on("keyup", function(){
				var val = jQuery(this).val();
				jQuery("#item_table tr").filter(function(){
					var checked=jQuery("[type='checkbox']", this)[0].checked
					jQuery(this).toggle(checked || (jQuery("[type='text']", this)[0].value.indexOf(val) > -1))
				});
			});
		});
	</script>
{% endblock %}

{% block content %}
<div class="col col-lg-6">
	<form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}

		<fieldset>
			<legend>商品清单</legend>
			<input id="item_keyword" type="text" placeholder="筛选..."/>
			<table cellpadding="4" border="1">
			<thead>
				<tr>
				<th></th>
				<th>品名</th>
				<th>数量</th>
				<th>推荐来源</th>
				</tr>
			</thead>
			<tbody id="item_table">
			{{ formset.management_form }}
			{% for form in formset %}
				<tr>
					<td>{{form.check}}</td>
					<td>{{form.name}}</td>
					<td>{{form.quantity}}
						{% for hidden in form.hidden_fields %}
						{{ hidden }}
						{% endfor %}
					</td>
					<td>{{form.repository}}</td>
				</tr>
			{% endfor %}
			</tbody>
			</table>
		</fieldset>

		<br/>

		<input type="submit" value="提交"/>
	</form>
</div>
{% endblock %}
