{% extends "base.html" %}

{% block header %}换仓{% endblock %}

{% block content %}
<div class="col col-lg-12">
	<label>+交易品</label>
	<input id="item_keyword" type="text"/>
	<form class="border border-dark" action="" method="post">
		{% csrf_token %}
		<div class = "row">
			<div class="col col-lg-6">
				{{ form.as_p }}
				<input type="submit" value="提交"/>
			</div>

			<div class="col col-lg-6">
				<table cellpadding="4" border="1">
				{{ formset.management_form }}
				<tbody id="item_table">
				</tbody>
				</table>
			</div>
		</div>
	</form>
</div>
{% endblock %}
