{% extends "base_left_middle_right.html" %}

{% block header %}运营工作室{% endblock %}

{% block extra_script %}
	<script>
		function jdorder_lookup(){
			oid = jQuery("#id_jdorder").val();
			if (oid != "")
				window.location.href = `/vault/jdorder/${oid}/read/`;
		}
		function tmorder_lookup(){
			oid = jQuery("#id_tmorder").val();
			if (oid != "")
				window.location.href = `/vault/tmorder/${oid}/read/`;
		}
	</script>
{% endblock %}

{% block content_left %}
	<table cellpadding="4" border="1">
		<tr><td align='center' colspan=2>京东订单调整</td></tr>
		<tr><td>订单编号<input type="number" id="id_jdorder" /></td><td><a href="javascript:void(0);" onclick ="jdorder_lookup()">检索</a></td></tr>
		<tr><td><a href="{% url 'jdorder_change' %}">京东换货</a></td></tr>
		<tr><td><a href="{% url 'jdorder_compensate' %}">京东补发</a></td><td>额外赠送也用这个</td></tr>
		<tr><td><a href="{% url 'jdorder_return' %}">京东退货</a></td></tr>
		<tr><td><a href="{% url 'jdorder_wechat_fake' %}">京东微信刷单</a></td></tr>
	</table>
{% endblock %}

{% block content_middle %}
	<table cellpadding="4" border="1">
		<tr><td align='center' colspan=2>天猫订单调整</td></tr>
		<tr><td>订单编号<input type="number" id="id_tmorder" /></td><td><a href="javascript:void(0);" onclick ="tmorder_lookup()">检索</a></td></tr>
		<tr><td><a href="{% url 'tmorder_change' %}">天猫换货</a></td></tr>
		<tr><td><a href="{% url 'tmorder_compensate' %}">天猫补发</a></td><td>额外赠送也用这个</td></tr>
		<tr><td><a href="{% url 'tmorder_return' %}">天猫退货</a></td></tr>
		<tr><td><a href="{% url 'tmorder_wechat_fake' %}">天猫微信刷单</a></td></tr>
	</table>
{% endblock %}

{% block content_right %}
	<table cellpadding="4" border="1">
		<tr><td align='center' colspan=2>其他</td></tr>
		<tr><td><a href="{% url 'receivable_commodity' %}">应收货物清单</a></td><td>应收货物清单</td></tr>
		<tr><td><a href="{% url 'wallet_detail' wallet_wechat.id %}">运营资金.微信</a></td><td>账户流水</td></tr>
		<tr><td><a href="{% url 'wallet_detail' wallet_alipay.id %}">运营资金.支付宝</a></td><td>账户流水</td></tr>
		<tr><td><a href="{% url 'commodity_list' %}">库存明细</a></td><td>库存明细</td></tr>
		<tr><td><a href="{% url 'operation_account_clear' %}">运营资金账户收支</a></td><td>微信拉人佣金, 订单返现</td></tr>
	</table>
{% endblock %}

