{% extends "base.html" %}

{% block header %}运营工作室{% endblock %}

{% block extra_script %}
	<script>
		function jdorder_lookup(){
			oid = jQuery("#id_jdorder").val();
			if (oid != "")
				window.location.href = `/vault/jdorder/${oid}/read/`;
		}
		function tmorder_lookup(){
			oid = jQuery("#id_tmorder").val();
			if (oid != "")
				window.location.href = `/vault/tmorder/${oid}/read/`;
		}
	</script>
{% endblock %}

{% block content %}
<div class="col">
	<table cellpadding="4" border="1">
		<tr><td><a href="javascript:void(0);" onclick ="jdorder_lookup()">查看京东订单</a></td><td><input type="number" id="id_jdorder" /></td></tr>
		<tr><td><a href="{% url 'jdorder_change' %}">京东换货</a></td><td>京东订单换货</td></tr>
		<tr><td><a href="{% url 'jdorder_compensate' %}">京东补发</a></td><td>京东订单补发</td></tr>
		<tr><td><a href="{% url 'jdorder_return' %}">京东退货</a></td><td>京东订单退货</td></tr>
		<tr><td><a href="{% url 'jdorder_wechat_fake' %}">京东微信刷单</a></td><td>京东微信刷单</td></tr>
		<tr><td><a href="javascript:void(0);" onclick ="tmorder_lookup()">查看天猫订单</a></td><td><input type="number" id="id_tmorder" /></td></tr>
		<tr><td><a href="{% url 'tmorder_change' %}">天猫换货</a></td><td>天猫订单换货</td></tr>
		<tr><td><a href="{% url 'tmorder_compensate' %}">天猫补发</a></td><td>天猫订单补发</td></tr>
		<tr><td><a href="{% url 'tmorder_return' %}">天猫退货</a></td><td>天猫订单退货</td></tr>
		<tr><td><a href="{% url 'tmorder_wechat_fake' %}">天猫微信刷单</a></td><td>天猫微信刷单</td></tr>
		<tr><td><a href="{% url 'receivable_commodity' %}">应收货物清单</a></td><td>应收货物清单</td></tr>
		<tr><td><a href="{% url 'account_fake_wechat' %}">微信刷单账户流水</a></td><td>微信刷单账户流水</td></tr>
		<tr><td><a href="{% url 'commodity_list' %}">库存明细</a></td><td>库存明细</td></tr>
		<tr><td><a href="{% url 'daily_calibration' %}">孤山仓每日盘点</a></td><td>只盘点完好的库存，缺配件或者破损的不清点。每天早上9点前盘点完毕，超过截至时间系统自动关闭盘点入口。</td></tr>
		<tr><td><a href="{% url 'operation_account_clear' %}">运营资金账户收支</a></td><td>非订单收支录入, 微信刷单拉人</td></tr>
	</table>
</div>
{% endblock %}
