{% extends "base_left_middle_right.html" %}
{% block navbar %}{% include 'vault/content/navbar.html' %}{% endblock %}
{% block header %}运营工作室{% endblock %}

{% block extra_script %}
	<script>
		function jdorder_lookup(){
			oid = jQuery("#id_jdorder").val();
			if (oid != "")
				window.location.href = `/vault/jdorder/${oid}/`;
		}
		function tmorder_lookup(){
			oid = jQuery("#id_tmorder").val();
			if (oid != "")
				window.location.href = `/vault/tmorder/${oid}/`;
		}
		function express_lookup(){
			eid = jQuery("#id_express").val();
			if (eid != "")
				window.location.href = `/vault/express/${eid}/`;
		}
	</script>
{% endblock %}

{% block content_left %}
	<table cellpadding="4" border="1">
		<tr><td align='center' colspan=2>京东订单调整</td></tr>
		<tr><td>订单编号<input type="number" id="id_jdorder" /></td><td><a href="javascript:void(0);" onclick ="jdorder_lookup()">检索</a></td></tr>
		<tr><td><a href="{% url 'jdorder_change' %}">京东换货</a></td></tr>
		<tr><td><a href="{% url 'jdorder_compensate' %}">京东补发</a></td><td>额外赠送也用这个</td></tr>
		<tr><td><a href="{% url 'jdorder_return' %}">京东退货</a></td></tr>
		<tr><td><a href="{% url 'jdorder_wechat_fake' %}">京东微信刷单</a></td></tr>
		<tr><td><a href="{% url 'jdorder_rebate' %}">京东订单返现</a></td><td>评价返现，议价返现，补偿</td></tr>
		<tr><td><a href="{% url 'jdorder_collect_margin' %}">京东客户补差价</a></td><td>客户补差价</td></tr>
		<tr><td><a href="{% url 'jdorder_purchase' %}">厂家代发</a></td><td>订单缺货，从厂家直接发货</td></tr>
		<tr><td><a href="{% url 'jdorder_trans_shipment' %}">其他经销商代发</a></td><td>订单缺货，由其他经销商代为发货</td></tr>
	</table>
{% endblock %}

{% block content_middle %}
	<table cellpadding="4" border="1">
		<tr><td align='center' colspan=2>天猫订单调整</td></tr>
		<tr><td>订单编号<input type="number" id="id_tmorder" /></td><td><a href="javascript:void(0);" onclick ="tmorder_lookup()">检索</a></td></tr>
		<tr><td><a href="{% url 'tmorder_change' %}">天猫换货</a></td></tr>
		<tr><td><a href="{% url 'tmorder_compensate' %}">天猫补发</a></td><td>额外赠送也用这个</td></tr>
		<tr><td><a href="{% url 'tmorder_return' %}">天猫退货</a></td></tr>
		<tr><td><a href="{% url 'tmorder_wechat_fake' %}">天猫微信刷单</a></td></tr>
		<tr><td><a href="{% url 'tmorder_rebate' %}">天猫订单返现</a></td><td>评价返现，议价返现，补偿</td></tr>
		<tr><td><a href="{% url 'tmorder_collect_margin' %}">天猫客户补差价</a></td><td>客户补差价</td></tr>
		<tr><td><a href="{% url 'tmorder_purchase' %}">厂家代发</a></td><td>订单缺货，从厂家直接发货</td></tr>
		<tr><td><a href="{% url 'tmorder_trans_shipment' %}">其他经销商代发</a></td><td>订单缺货，由其他经销商代为发货</td></tr>
	</table>
{% endblock %}

{% block content_right %}
	<table cellpadding="4" border="1">
		<tr><td align='center' colspan=2>其他</td></tr>
		<tr><td>快递单号<input type="number" id="id_express" /></td><td><a href="javascript:void(0);" onclick ="express_lookup()">检索</a></td></tr>
		<tr><td><a href="{% url 'commodity_stagnation_list' %}">滞销品清单</a></td><td>滞销品清单</td></tr>
		<tr><td><a href="{% url 'wallet_detail' wallet_wechat.id %}">运营资金.微信</a></td><td>账户流水</td></tr>
		<tr><td><a href="{% url 'wallet_detail' wallet_alipay.id %}">运营资金.支付宝</a></td><td>账户流水</td></tr>
		<tr><td><a href="{% url 'wallet_detail' wallet_rqwy.id %}">运营资金.人气无忧</a></td><td>账户流水</td></tr>
		<tr><td><a href="{% url 'change_repository' %}">换仓</a></td><td>1)检验出瑕疵品<br/>2)从好的上面取配件<br/>状态: 完好->破损</td></tr>
		<tr><td><a href="{% url 'purchase' %}">进货</a></td><td>进货</td></tr>
		<tr><td><a href="{% url 'trans_shipment' %}">串货</a></td><td>从非供应商处拿货</td></tr>
		<tr><td><a href="{% url 'append_purchase' %}">追加进货</a></td><td>追加进货</td></tr>
		<tr><td><a href="{% url 'retail' %}">其他销售</a></td><td>非(天猫/京东)平台订单销售</td></tr>
		<tr><td><a href="{% url 'pay_wechat_recruit_bonus' %}">支付微信刷单拉人奖励金</a></td><td>微信拉人佣金</td></tr>
		<tr><td><a href="{% url 'express_clear' %}">运费支付</a></td><td>用运营资金账户支付运费</td></tr>
		<tr><td><a href="{% url 'operation_account_pay' %}">运营资金账户付款</a></td><td>其他运营资金支出</td></tr>
		<tr><td><a href="{% url 'operation_account_receive' %}">运营资金账户收款</a></td><td>其他运营资金收入</td></tr>
		<tr><td><a href="{% url 'help' %}">概念介绍</a></td><td>建设中</td></tr>
	</table>
{% endblock %}
