{% extends "navi_base.html" %}

{% block header %}物资列表{% endblock %}

{% block content %}
<div class="col-sm-auto">
	<table border="1" cellpadding="4">
		<tr>
			<th>编号</th>
			<th>供应商</th>
			<th>品名</th>
			<th>价值</th>
			<th>在售</th>
			<th>在产</th>
		</tr>
		{% for commodity in object_list %}
		<tr>
			<td><a href="{% url 'commodity_detail' commodity.id %}">{{commodity.id}}</a></td>
			<td>{{commodity.supplier}}</td>
			<td>{{commodity.name}}</td>
			<td>{{commodity.value }}</td>
			{% if commodity.onsale %}
				<td>在售</td>
			{% else %}
				<td>下架</td>
			{% endif %}
			{% if commodity.inproduction %}
				<td>在产</td>
			{% else %}
				<td>停产</td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
