{% extends "base.html" %}

{% block header %}{{object}}{% endblock %}

{% block content %}
<div class="col-sm-auto">
	<table border="1" cellpadding="4">
		<tr>
			<td></td>
			{% for i in title %}
			<td>{{i}}</td>
			{% endfor %}
		</tr>
		{% for repo in repos %}
		<tr>
			{% for i in repo %}
			<td>{{i}}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>

	<br/>

	<table border="1" cellpadding="4">
		<tr>
			<td>流水</td>
			<td>分类</td>
			<td>仓库</td>
			<td>名称</td>
			<td>组织</td>
			<td>余额</td>
		</tr>
		{% for a in accounts %}
		<tr>
			<td align="left"><a href="{% url 'account_detail_read' a.uuid %}">详情</a></td>
			<td>{{a.category_name}}</td>
			<td>{{a.repository}}</td>
			<td>{{a.name}}</td>
			<td>{{a.organization}}</td>
			<td>{{a.balance}}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
