{% extends "base.html" %}
{% block navbar %}{% include 'vault/content/navbar.html' %}{% endblock %}
{% block header %}物资列表{% endblock %}

{% block content %}
<div class="col-sm-auto">
	<table border="1" cellpadding="4">
		<tr>
			<th>编号</th>
			<th>供应商</th>
			<th>品名</th>
			<th>价值</th>
			<th>在产</th>
			<th>废弃</th>
			<th>分销</th>
			<th>箱规</th>
		</tr>
		{% for commodity in object_list %}
		<tr>
			<td><a href="{% url 'commodity_detail' commodity.id %}">{{commodity.id}}</a></td>
			<td>{{commodity.supplier}}</td>
			<td>{{commodity.name}}</td>
			<td>{{commodity.value }}</td>
			{% if commodity.inproduction %}
				<td>在产</td>
			{% else %}
				<td>停产</td>
			{% endif %}
			{% if commodity.obsolete %}
				<td>废弃</td>
			{% else %}
				<td>活动</td>
			{% endif %}
			{% if commodity.proxy %}
				<td>是</td>
			{% else %}
				<td>否</td>
			{% endif %}
			<td>{{commodity.package }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
