{% extends "base.html" %}

{% block header %}{{object}}{% endblock %}

{% block content %}
<div class="col-sm-auto">
	<p>库存状态:</p>
	<table border="1" cellpadding="4">
		<tr>
			<td></td>
			{% for i in title %}
			<td>{{i}}</td>
			{% endfor %}
		</tr>
		{% for repo in repos %}
		<tr>
			{% for i in repo %}
			{% if forloop.counter0 > 0 and forloop.counter0 < 6 %}
				<td><a href={{i.url}} %}>{{i.v}}</a></td>
			{% else %}
				<td>{{i}}</td>
			{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
	</table>

	<br/>

	<p>分析报告:</p>
	<table border="1" cellpadding="4">
		<tr>
			<td></td>
			{% for i in statistic_title %}
			<td>{{i}}</td>
			{% endfor %}
		</tr>
		{% for repo in statistic %}
		<tr>
			{% for i in repo %}
			<td>{{i}}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
