{% extends "base_left_right.html" %}
{% block navbar %}{% include 'vault/content/navbar.html' %}{% endblock %}

{% block header %}{{object.name}}{% endblock %}

{% block content_left %}
<div class="col-sm-auto">
	<table border="1" cellpadding="4">
		<tr>
			<td>日期</td>
			<td>实发</td>
			<td>刷单</td>
		</tr>
		{% for i in info %}
		<tr>
			{% for j in i %}
			{% if not forloop.counter0 %}
			<td>{{j | date:"Y-m-d"}}</td>
			{% else %}
			<td>{{j}}</td>
			{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
	</table>

</div>
{% endblock %}
{% block content_right %}
<div class="col-sm-auto">
	<table border="1" cellpadding="4">
		<tr>
			<td>城市</td>
			<td>出货量</td>
		</tr>
		{% for i in place %}
		<tr>
			{% for j in i %}
			<td>{{j}}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>

</div>
{% endblock %}
