{% extends "base.html" %}
{% block header %}
	<input type="text" id="id_key" />
	<a href="javascript:void(0);" onclick ="lookup()">查找</a>
	<br/>
	客户列表
{% endblock %}

{% block extra_script %}
	<script>
		function lookup(){
			tid = jQuery("#id_key").val();
			if (tid != "")
				window.location.href = `/vault/customer/${tid}/`;
			else
				window.location.href = `/vault/customer/0/`;
		}
	</script>
{% endblock %}

{% block content %}
<div class="col-sm-auto">
	<table cellpadding="4" border="1">
	{% for object in object_list %}
		<tr>
			<th>招募时间</th>
			{% if object.recruited %}
			<td>{{object.recruit | date:"Y-m-d H:i:s" }}</td>
			{% else %}
			<td><a href="{% url 'customer_recruit' object.uuid %}">立即招募</a></td>
			{% endif %}
		</tr>
		<tr>
			<th>名称</th>
			<td>{{object.name}}</td>
		</tr>
		<tr>
			<th>联系方式</th>
			<td>
				<table cellpadding="4">
					{% for c in object.contacts %}
					<tr>
						<td align="left">{{c.phone}}</td>
					</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
		<tr>
			<th>备注</th>
			<td>{{object.remark }}</td>
		</tr>
		<tr>
			<th>问候语</th>
			<td>{{object.greeting }}</td>
		</tr>
		<tr>
			<th>初次下单时间</th>
			<td>{{object.join | date:"Y-m-d H:i:s" }}</td>
		</tr>
		<tr>
			<th>刷手标记</th>
			<td>{{object.flag}}</td>
		</tr>
		<tr>
			<th>下单时间</th>
			<th>订单类型</th>
			<th>订单编号</th>
			<th>刷单平台</th>
			<th>订单金额</th>
			<th>出货明细</th>
		</tr>
		<tr>
				{% for o in object.orders %}
				<tr>
					<td align="right">{{o.time | date:"Y-m-d H:i:s"}}</td>
					<td><a href="{% url 'task_detail' o.id %}">{{o.desc}}</a></td>
					<td>{{o.oid}}</td>
					<td align="right">{{o.counterfeit}}</td>
					<td align="right">{{o.sale}}</td>
					<td>
						<table cellpadding="4">
							{% for c in o.shipouts %}
							<tr>
								<td align="left">{{c}}</td>
								<td align="right">{{c.n}}</td>
							</tr>
							{% endfor %}
						</table>
					</td>
				</tr>
				{% endfor %}
			</table>
		</tr>
	{% endfor %}
	</table>
</div>
{% endblock %}
