{% extends "navi_base.html" %}

{% block header %}管理中心{% endblock %}

{% block extra_script %}
	<script>
		function task_lookup(){
			tid = jQuery("#id_task").val();
			if (tid != "")
				window.location.href = `/vault/task/${tid}/`;
		}
	</script>
{% endblock %}

{% block content %}
<div class="col">
	<table cellpadding="4" border="1">
		<tr><td><a href="javascript:void(0);" onclick ="task_lookup()">查看任务</a></td><td><input type="number" id="id_task" /></td></tr>
		<tr><td><a href="{% url 'trans_shipment_in' %}">串入</a></td><td>从其他经销商处进货</td></tr>
		<tr><td><a href="{% url 'retail' %}">其他销售</a></td><td>非平台(天猫/京东)订单销售</td></tr>
		<tr><td><a href="{% url 'change' %}">其他换货</a></td><td>非平台(天猫/京东)订单换货</td></tr>
		<tr><td><a href="{% url 'change_repository' %}">换仓</a></td><td>换仓</td></tr>
		<tr><td><a href="{% url 'tfg_purchase' %}">泰福高进货</a></td><td>泰福高进货</td></tr>
		<tr><td><a href="{% url 'yst_purchase' %}">原森太进货</a></td><td>原森太进货</td></tr>
		<tr><td><a href="{% url 'kml_purchase' %}">凯曼隆进货</a></td><td>凯曼隆进货</td></tr>
		<tr><td><a href="{% url 'other_purchase' %}">其他进货</a></td><td>其他进货</td></tr>
		<tr><td><a href="{% url 'chore_list' %}">运营工作室</a></td><td>京东/天猫的退货，换货，刷单都用这个链接</td></tr>
	</table>
</div>
{% endblock %}
