{% extends "base.html" %}

{% block header %}每日库存盘点: 只盘点好的，破损和缺配件的不盘点{% endblock %}

{% block extra_script %}
	<script>
		function calculate(self){
			p = jQuery(self).parent().parent()
			dst = jQuery("td:nth-child(4)", p)[0]
			total = 0
			jQuery("td input[type=\"number\"]", p).val( function(i, origVal) {
				if (origVal != "")  {
					total += parseInt(origVal)
				}
				return origVal
			});
			dst.innerHTML = total
		}
		jQuery(document).ready(function(){
			jQuery("input[type=\"number\"]").on("change paste keyup", function(){
				calculate(this);
			});
		});
	</script>
{% endblock %}

{% block content %}
<div class="col-sm-auto">
	<form action="" method="post">
		{% csrf_token %}
		<table cellpadding="4" border="1">
			{{ formset.management_form }}
			<tr>
				<th>品名</th>
				<th>状态</th>
				<th>在帐</th>
				<th>已盘点</th>
				<th>盘点1</th>
				<th>盘点2</th>
				<th>盘点3</th>
				<th>盘点4</th>
			</tr>
			{% for form in formset %}
			<tr>
				<td>{{form.label_name}}</td>
				<td>{{form.label_status}}</td>
				<td>{{form.label_in_book}}</td>
				<td>0</td>
				<td>{{form.q1}}</td>
				<td>{{form.q2}}</td>
				<td>{{form.q3}}</td>
				<td>{{form.q4}}</td>
				{% for hidden in form.hidden_fields %}
				{{ hidden }}
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
		<br/>
		{{ form.check }} <label>本次盘点确认已经结束，所有数据都已经录入</label>
		<br/>
		<input type="submit" value="提交"/>
	</form>
{% endblock %}
