{% extends "base_left_right.html" %}

{% block header %}管理中心{% endblock %}

{% block extra_script %}
	<script>
		function task_lookup(){
			tid = jQuery("#id_task").val();
			if (tid != "")
				window.location.href = `/vault/task/${tid}/root/`;
		}
	</script>
{% endblock %}

{% block content_left %}
	<table cellpadding="4" border="1">
		<tr><td><a href="{% url 'organization_list' %}">账本</a></td></tr>
		<tr><td><a href="{% url 'commodity_list' %}">物资</a></td></tr>
		<tr><td><a href="{% url 'wallet_list' %}">钱包</a></td></tr>
		<tr><td><a href="{% url 'transaction_list' %}">交易</a></td></tr>
		<tr><td><a href="{% url 'task_list' %}">任务</a></td></tr>
		<tr><td><a href="{% url 'supplier_list' %}">供应商</a></td></tr>
		<tr><td><a href="{% url 'jdcommodity_list' %}">京东商品</a></td></tr>
		<tr><td><a href="{% url 'tmcommodity_list' %}">天猫商品</a></td></tr>
	</table>
{% endblock %}

{% block content_right %}
	<table cellpadding="4" border="1">
		<tr><td><a href="javascript:void(0);" onclick ="task_lookup()">查看任务</a></td><td><input type="number" id="id_task" /></td></tr>
		<tr><td><a href="{% url 'change' %}">其他换货</a></td><td>非平台(天猫/京东)订单换货</td></tr>
		<tr><td><a href="{% url 'change_repository' %}">换仓</a></td><td>换仓</td></tr>
		<tr><td><a href="{% url 'tfg_purchase' %}">泰福高进货</a></td><td>智能预测进货数据</td></tr>
		<tr><td><a href="{% url 'yst_purchase' %}">原森太进货</a></td><td>智能预测进货数据</td></tr>
		<tr><td><a href="{% url 'kml_purchase' %}">凯曼隆进货</a></td><td>智能预测进货数据</td></tr>
		<tr><td><a href="{% url 'other_purchase' %}">其他进货</a></td><td>智能预测进货数据</td></tr>
		<tr><td><a href="{% url 'daily_calibration' %}">孤山仓每日盘点</a></td><td>只盘点完好的库存，缺配件或者破损的不清点。<br/>每天早上9点前盘点完毕，超过截至时间系统自动关闭盘点入口。</td></tr>
		<tr><td><a href="{% url 'manual_calibration' %}">单个盘点</a></td><td></td></tr>
		<tr><td><a href="{% url 'chore_list' %}">运营工作室</a></td><td>京东/天猫的退货，换货，刷单, 返现都用这个链接</td></tr>
	</table>
{% endblock %}
