{% extends "base_left_middle_right.html" %}
{% block navbar %}{% include 'vault/content/navbar.html' %}{% endblock %}
{% block header %}管理中心{% endblock %}

{% block extra_script %}
	<script>
		function task_lookup(){
			tid = jQuery("#id_task").val();
			if (tid != "")
				window.location.href = `/vault/task/${tid}/`;
		}
	</script>
{% endblock %}

{% block content_left %}
	<table cellpadding="4" border="1">
		{% for wallet in wallets %}
		<tr>
			<td><a href="{{wallet.url}}">{{wallet}}</a></td>
			<td>{{wallet.balance}}</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}

{% block content_middle %}
	<table cellpadding="4" border="1">
		<tr><td><a href="{% url 'transaction_list' %}">交易</a></td></tr>
		<tr><td><a href="{% url 'supplier_list' %}">供应商</a></td></tr>
		<tr><td><a href="{% url 'jdcommodity_list' %}">京东商品</a></td></tr>
		<tr><td><a href="{% url 'tmcommodity_list' %}">天猫商品</a></td></tr>
		<tr><td><a href="{% url 'daily_calibration' %}">孤山仓每日盘点</a></td><td>只盘点完好的库存，缺配件或者破损的不清点。<br/>每天早上9点前盘点完毕，超过截至时间系统自动关闭盘点入口。</td></tr>
		{% for repository in inferior_calibration %}
		<tr>
			{% if not forloop.counter0 %}
			<td rowspan={{inferior_calibration | length}}>残次品盘点</td>
			{% endif %}
			<td><a href="{{repository.url}}">{{repository}}</a></td>
		</tr>
		{% endfor %}
		<tr><td><a href="{% url 'manual_calibration' %}">单个盘点</a></td><td></td></tr>
		<tr><td rowspan=5>进货</td><td><a href="{% url 'tfg_purchase' %}">泰福高进货</a></td></tr>
		<tr><td><a href="{% url 'tfg_low_inventory' %}">泰福高低库存清单</a></td></tr>
		<tr><td><a href="{% url 'yst_purchase' %}">原森太进货</a></td></tr>
		<tr><td><a href="{% url 'kml_purchase' %}">凯曼隆进货</a></td></tr>
		<tr><td><a href="{% url 'other_purchase' %}">其他进货</a></td></tr>
	</table>
{% endblock %}
{% block content_right %}
	<table cellpadding="4" border="1">
		<tr><td><a href="javascript:void(0);" onclick ="task_lookup()">查看任务</a></td><td><input type="number" id="id_task" /></td></tr>
		<tr><td><a href="{% url 'change' %}">其他换货</a></td><td>非平台(天猫/京东)订单换货</td></tr>
		<tr><td><a href="{% url 'return_to_supplier' %}">退货回厂家</a></td><td>残次品退款</td></tr>
		<tr><td><a href="{% url 'change_with_supplier' %}">回厂家换货</a></td><td>残次品更换</td></tr>
		<tr><td><a href="{% url 'chore_list' %}">运营工作室</a></td><td>京东/天猫的退货，换货，刷单, 返现都用这个链接</td></tr>
	</table>
{% endblock %}
