{% extends "base_single.html" %}

{% block header %}快递列表{% endblock %}

{% block content_single %}
	<table border="1" cellpadding="4">
		<tr>
			<th>服务商</th>
			<th>编号</th>
			<th>费用</th>
			<th>结算</th>
			<th>任务</th>
		</tr>
		{% for express in object_list %}
		<tr>
			<td>{{ express.supplier }}</td>
			<td>{{ express.eid }}</td>
			<td>{{ express.fee }}</td>
			<td>{{ express.clear }}</td>
			{% if express.task %}
			<td><a href="{% url 'task_detail_read' express.task.id %}">{{ express.task }}</a></td>
			{% else %}
			<td>{{ express.task }}</td>
			{% endif %}
		<tr>
		{% endfor %}
	</table>
{% endblock %}
