{% extends "base_single.html" %}

{% block header %}客户交流回馈{% endblock %}

{% block content_single %}
	<ul>
			<h3>天猫专享优惠券，京东专享优惠券</h3>
			<h4>如何确保您拿到的是品牌最低价?</h4>
			<ol>
			<li>由于品牌统一控价，天猫或京东的经销商价格一致</li>
			<li>通过本页面额专属隐藏优惠券页面，您可以拿到比新客户更优惠的价格</li>
			<li>如果近期有活动，我们会提前更新优惠券的额度，确保您早买也不会吃亏</li>
			<li>老客户专享7天保价服务</li>
			</ol>
			<br/>
			<h3>为什么老客户可以享受优惠?</h3>
			<ol>
			<li>招揽新客户需要成本，您的复购直接消除了这一块的支出</li>
			<li>通过切实的让利，避免议价，降低了我们的客服成本</li>
			<li>帮我们刷单，支付给专业刷手的佣金，换成小礼品或者优惠券送给您</li>
			</ol>
			<br/>
			<h3>如何延长您购买产品的使用寿命?</h3>
			<ol>
			<li>所有售出的产品，我们留存一定比例的配件，比如杯盖等。如果您有丢失，我们按出厂价格+运费给您，最大程度的延长您的产品使用时间</li>
			</ol>
			<br/>
			<h3>您能从我们的成长中得到什么?</h3>
			<ol>
			<li>出货量越大，能够拿到的进货折扣越多，进一步提高我们给您的让利空间</li>
			</ol>
			<br/>
			<h3>联系我们</h3>
	</ul>
{% endblock %}
