{% extends "base.html" %}

{% block content %}
	<div class="col col-lg-6 border border-dark">
		{% if error %}
		<div class="alert alert-danger" role="alert">{{error}}</div>
		{% endif %}
		<form action="" method="post">
			{% csrf_token %}
			{% block extend_form %}{{ form.as_p }}{% endblock %}
			<table cellpadding="4" border="1">
				{{ formset.management_form }}
				<tbody id="item_table">
				</tbody>
			</table>
			<br></br>
			<input type="submit" value="提交"/>
		</form>
	</div>
	<div class="col col-lg-6 border border-dark">
		<label>+交易标的</label>
		{% block sub_form %}{{ sub_form.as_p }}{% endblock %}
	</div>
{% endblock %}
