{% extends "base.html" %}

{% block header %}[账本]{{org}} : {{object}}{% endblock %}

{% block content %}
<div class="col-sm-auto">
	<table border="1" cellpadding="4">
		<tr>
			<th></th>
			<th>资产</th>
			<th>负债</th>
			<th>收入</th>
			<th>支出</th>
			<th>所有者权益</th>
		</tr>
		{% if orgs %}
		<tr>
			<td>组织</td>
			{% for k in orgs %}
			<td>
				<table cellpadding="4">
					{% for i, o in k.items %}
					<tr>
						<td align="left">{{o.0.name}}</td>
						<td align="right">{{o.1}}</td>
					</tr>
					{% endfor %}
				</table>
			</td>
			{% endfor %}
		</tr>
		{% endif %}
		{% if accounts %}
		<tr>
			<td>账户</td>
			{% for j in accounts %}
			<td>
				<table cellpadding="4">
					{% for a in j %}
					<tr>
						<td align="left">{{a.name}}</td>
						<td align="right">{{a.balance}}</td>
					</tr>
					{% endfor %}
				</table>
			</td>
			{% endfor %}
		</tr>
		{% endif %}
		<tr>
			<td>合计</td>
			{% for i in total %}
				<td align="right">{{i}}</td>
			{% endfor %}
		</tr>
	</table>
</div>
{% endblock %}
