{% extends "base_left_middle_right.html" %}

{% block content_left %}
	{% if error %}
	<div class="alert alert-danger" role="alert">{{error}}</div>
	{% endif %}
	{% if form.errors %}
	<div class="alert alert-danger" role="alert">{{form.errors}}</div>
	{% endif %}
	<form action="" method="post">
		{% csrf_token %}
		{% block extend_form %}{{ form.as_p }}{% endblock %}
		<table cellpadding="4" border="1">
			{{ formset.management_form }}
			<tbody id="item_table">
				{% block formset %}{{ formset.as_p }}{% endblock %}
			</tbody>
		</table>
		<br></br>
		<input type="submit" value="提交"/>
	</form>
{% endblock %}
{% block content_middle %}
	<p>交易标的筛选器</p>
	{% block sub_form %}{{ sub_form.as_p }}{% endblock %}
{% endblock %}
{% block content_right %}
	<div class="alert alert-danger" role="alert">
	<p>使用说明:</p>
	{% block usage %}{% endblock %}
	</div>
{% endblock %}
