{% extends "base.html" %}

{% block header %}京东商品{% endblock %}

{% block content %}
<div class="col-sm-auto">
	<table border="1" cellpadding="4">
		<tr>
			<th>编号</th>
			<th>名称</th>
			<th colspan="2">映射</th>
		</tr>
		{% for jdcommodity in object_list %}
			<tr>
				<td><a href="{{ jdcommodity.url }}">{{jdcommodity.id}}</a></td>
				<td>{{ jdcommodity.name }}</td>
				<td><a href="{% url 'jdcommoditymap_create' jdcommodity.id%}">+</a></td>
				<td class="text-monospace">{{ jdcommodity.map }}</td>
			<tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
