{% extends "base.html" %}

{% block header %}京东商品{% endblock %}

{% block content %}
<div class="col-sm-auto">
	<table border="1" cellpadding="4">
		<tr>
			<th>编号</th>
			<th>名称</th>
			<th>映射</th>
		</tr>
		{% for jdcommodity in object_list %}
			<tr>
				<td>{{ jdcommodity.id }}</td>
				<td>{{ jdcommodity.name }}</td>
				<td class="text-monospace">
					<ul class="list-group list-group-flush">
						{% for m in jdcommodity.ms %}
							<li class="list-group-item">{{ m }}</li>
						{% endfor %}
					</ul>
				</td>
			<tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
