{% extends "navi_base.html" %}

{% block header %}增加京东商品映射{% endblock %}

{% block content %}
<div class="col-sm-auto">
<form action="" method="post">
	{% csrf_token %}
	{{ form.non_field_errors }}
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}
	<div class="fieldWrapper">
		{{ form.since.errors }}
		<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
			{{ form.since.label_tag }}
			{{ form.since }}
			<div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
				<div class="input-group-text"><i class="fa fa-calendar"></i></div>
			</div>
		</div>
	</div>
	<div class="fieldWrapper">
		{{ form.commodities.errors }}
		{{ form.commodities.label_tag }}
		{{ form.commodities }}
	</div>
	<input type="submit" value="提交" />
</form>
</div>
{% endblock %}

{% block extra_script %}
	<script>
		jQuery(document).ready(function(){
			jQuery("#id_commodities").attr({"size": 16});
			jQuery('#datetimepicker1').datetimepicker({
				format: 'YYYY-MM-DD HH:mm:ss',
			});
		});
	</script>
{% endblock %}
