{% extends "vault/item_filter_base.html" %}

{% block header %}京东微信刷单{% endblock %}

{% block extra_script %}
	{% include 'vault/script/commodity_ship.html' %}
	{% include 'vault/script/item_filter.html' %}
{% endblock %}

{% block extend_form %}
	<p>京东订单编号: {{form.jdorder}}</p>
	<p>组织: {{form.organization}}</p>
{% endblock %}

{% block formset %}
	{% for form in formset %}
	<tr>
		<td>{{form.check}}</td>
		<td>{{form.label_repo}}</td>
		<td>{{form.label_ship}}</td>
		<td>{{form.label_stat}}</td>
		<td>{{form.label_name}}</td>
		<td>{{form.quantity}}</td>
		{% for hidden in form.hidden_fields %}
		{{ hidden }}
		{% endfor %}
	</tr>
	{% endfor %}
{% endblock %}
