{% extends "base_form_with_right.html" %}

{% block header %}运营资金账户收支{% endblock %}

{% block content_right %}
	<div class="alert alert-danger" role="alert">
	<p>使用说明:</p>
	<p>(可选)关联到指定任务: 这个选项适用用于平台订单，填任务编号，可以通过订单检索找到</p>
	<p>变动金额: 收到钱就用正数，付款用负数</p>
	<br/>
	<p>微信刷单拉人: 收支主体选择南京为绿电子科技有限公司</p>
	<br/>
	<p>例1: 微信刷单拉人</p>
	<p>(可选)关联到指定任务: 不填，因为不和任何任务有关系</p>
	<p>收支主体: 南京为绿电子科技有限公司</p>
	<p>账户: 运营资金.微信</p>
	<p>变动金额: -2</p>
	<p>描述: 微信刷单拉人</p>
	<br/>
	<p>例2: 天猫订单评价返现</p>
	<p>(可选)关联到指定任务: 检索订单的任务编号后填入</p>
	<p>收支主体: 泰福高腾复专卖店</p>
	<p>账户: 运营资金.微信</p>
	<p>变动金额: -2</p>
	<p>描述: 评价返现</p>
	</div>
{% endblock %}
