{% extends "base.html" %}

{% block header %}组织详情{% endblock %}

{% block content %}
	<div>
		<table border="1" cellpadding="4">
			<tr>
				<th></th>
				<th>资产</th>
				<th>负债</th>
				<th>收入</th>
				<th>支出</th>
				<th>净资产</th>
			</tr>
			{% for k,r in matrix.items %}
				<tr>
					{% for c in r %}
						<td>
							{% if forloop.counter0 %}
								{# cell #}
								<table cellpadding="4">
								{% for i in c %}
									<tr>
										<td align="left">{{i.0}}</td>
										<td align="right">{{i.1}}</td>
									</tr>
								{% endfor %}
								</table>
							{% else %}
								{{c}} {# item name is placed in first column #}
							{% endif %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
