{% extends "base.html" %}

{% block header %}组织详情{% endblock %}

{% block content %}
	<div>
		<table border="1" cellpadding="4">
			<tr>
				<th></th>
				<th>资产</th>
				<th>负债</th>
				<th>收入</th>
				<th>支出</th>
				<th>所有者权益</th>
			</tr>
			{% for k,r in matrix.items %}
				<tr>
					{% for c in r %}
						<td>
							{% if forloop.counter0 %}
								{# cell #}
								<table cellpadding="4">
								<tr>
									<th align="left">总额</th>
									<th align="right">{{c.0}}</th>
								</tr>
								{% for o,v in c.1.items %} {# sub-organizations #}
									<tr>
										<td align="left"><a href="{% url 'organization_detail' v.0.id %}">{{v.0.name}}</a></td>
										<td align="right">{{v.1}}</td>
									</tr>
								{% endfor %}
								{% for a in c.2 %} {# accounts #}
									<tr>
										<td align="left">{{a.name}}</td>
										<td align="right">{{a.balance}}</td>
									</tr>
								{% endfor %}
								</table>
							{% else %}
								{{c}} {# item name is placed in first column #}
							{% endif %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
