{% extends "base.html" %}

{% block header %}期货收货: {{organization}}{% endblock %}

{% block extra_script %}
	<script>
		jQuery(document).ready(function(){
			jQuery("#id_repository").on("change paste keyup", function(){
				var val = jQuery(this).val();
				var str = jQuery("option[value="+val+"]", this).text();
				jQuery("#item_table tr").filter(function(){
					var name=jQuery("[id$='repository']", this).val()
					jQuery(this).toggle(name == "" || name == str)
				});
			});
		});
	</script>
{% endblock %}

{% block content %}
<div class="col col-lg-6">
	<form action="" method="post">
		{% csrf_token %}
		{{form.as_p}}

		<fieldset>
			<legend>商品清单</legend>
			<table cellpadding="4" border="1">
			<thead>
				<tr>
				<th></th>
				<th>品名</th>
				<th>数量</th>
				<th>进货来源</th>
				</tr>
			</thead>
			<tbody id="item_table">
			{{ formset.management_form }}
			{% for form in formset %}
				<tr>
					<td>{{form.check}}</td>
					<td>{{form.name}}</td>
					<td>{{form.quantity}}
						{% for hidden in form.hidden_fields %}
						{{ hidden }}
						{% endfor %}
					</td>
					<td>{{form.repository}}</td>
				</tr>
			{% endfor %}
			</tbody>
			</table>
		</fieldset>

		<br/>

		<input type="submit" value="提交"/>
	</form>
</div>
{% endblock %}
