{% extends "base.html" %}

{% block header %}应收货物清单{% endblock %}

{% block content %}
<div class="col-sm-auto">
	<table border="1" cellpadding="4">
		<tr>
			<td>品名</td>
			<td>合计</td>
			<td>账户</td>
			<td>数量</td>
		</tr>
		{% for c in object_list %}
		{% for a in c.accounts %}
		<tr>
			{% if not forloop.counter0 %}
			<td rowspan={{c.accounts | length}}><a href="{% url 'commodity_detail' c.id %}">{{c}}</a></td>
			<td rowspan={{c.accounts | length}}>{{c.total | stringformat:".0f"}}</td>
			{% endif %}
			<td><a href="{% url 'account_detail' a.uuid %}">{{a}}</a></td>
			<td>{{a.balance | stringformat:".0f"}}</td>
		</tr>
		{% endfor %}
		{% endfor %}
	</table>
</div>
{% endblock %}
