{% extends "base.html" %}

{% block header %}期货收货{% endblock %}

{% block extra_script %}
	<script>
		jQuery(document).ready(function(){
			function candidate_filter(){
				var str_org = ""
				var org = jQuery("#id_organization").val();
				if (org != "") str_org = jQuery("#id_organization option[value="+org+"]").text();
				var str_repo = ""
				var repo = jQuery("#id_repository").val();
				if (repo != "") str_repo = jQuery("#id_repository option[value="+repo+"]").text();
				jQuery("#item_table tr").filter(function(){
					var repo_name=jQuery("[id$='repository']", this).val()
					var org_name=jQuery("[id$='organization']", this).val()
					jQuery(this).toggle((org_name == "" || str_org == "" || str_org == org_name) && (repo_name == "" || str_repo == "" || repo_name == str_repo))
				});
			}
			jQuery("#id_repository").on("change paste keyup", function(){
				candidate_filter();
			});
			jQuery("#id_organization").on("change paste keyup", function(){
				candidate_filter();
			});
		});
	</script>
{% endblock %}

{% block content %}
<div class="col col-lg-6">
	<form action="" method="post">
		{% csrf_token %}
		{{form.as_p}}

		<fieldset>
			<legend>商品清单</legend>
			<table cellpadding="4" border="1">
			<thead>
				<tr>
				<th></th>
				<th>品名</th>
				<th>数量</th>
				<th>组织</th>
				<th>仓库</th>
				</tr>
			</thead>
			<tbody id="item_table">
			{{ formset.management_form }}
			{% for form in formset %}
				<tr>
					<td>{{form.check}}</td>
					<td>{{form.name}}</td>
					<td>{{form.quantity}}
						{% for hidden in form.hidden_fields %}
						{{ hidden }}
						{% endfor %}
					</td>
					<td>{{form.organization}}</td>
					<td>{{form.repository}}</td>
				</tr>
			{% endfor %}
			</tbody>
			</table>
		</fieldset>

		<br/>

		<input type="submit" value="提交"/>
	</form>
</div>
{% endblock %}
