{% extends "base_single.html" %}
{% block header %}{{repository}}.{{commodity}}.{{status}}{% endblock %}

{% block content_single %}
	<h3>余额:        {{balance}}</h3>
	<table border="1" cellpadding="4">
		<tr>
			<th>时间</th>
			<th>账户</th>
			<th>增/减</th>
			<th>余额</th>
			<th>任务</th>
			<th>交易</th>
			<th>关联信息</th>
		</tr>
		{% for split in object_list %}
			<tr>
				<td>{{ split.transaction.time | date:"Y-m-d H:i:s"}}</td>
				<td><a href="{% url 'account_detail_read' split.account.uuid %}">{{ split.account }}</a></td>
				<td align="right">{{ split.change | stringformat:"+.0f"}}</td>
				<td align="right">{{ split.balance | stringformat:".0f"}}</td>
				<td>
					{% if split.transaction.task %}
					<a href="{% url 'task_detail' split.transaction.task.id %}">{{ split.transaction.task }}</a>
					{%endif %}
				</td>
				<td>{{ split.transaction.desc }}</td>
				<td>
				<table cellpadding="4">
					{% for c in split.counters %}
						<tr>
							<td align="left">{{c.account}}</td>
							<td align="right">{{c.change | stringformat:"+.0f"}}</td>
						</tr>
					{% endfor %}
				</table>
				</td>
			<tr>
		{% endfor %}
	</table>
{% endblock %}
