{% extends "base.html" %}

{% block header %}销售{% endblock %}

{% block extra_script %}
	<script>
		jQuery(document).ready(function(){
			jQuery("#item_keyword").keyup(function(event){
				if (event.keyCode != 13) {
					return;
				}
				if (jQuery("#item_keyword").val() == "") {
					return;
				}
				jQuery.post("/vault/item/",
					{
						keyword: jQuery("#item_keyword").val(),
						csrfmiddlewaretoken: '{{ csrf_token  }}'
					},
					function(data,status){
						items = eval("("+data+")");
						p = jQuery("#id_filtered_items");
						p.empty();
						for (i in items)
						{
							b = jQuery("<button></button>").text("添加");
							p.append(b);
							p.append(jQuery("<label></label>").text(items[i].str));
							p.append("<br/>");
						}
					});
			});
		});
	</script>
{% endblock %}

{% block content %}
<div class="col col-lg-6">
	<form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}

		<table cellpadding="4" border="1">
		<thead>
			<tr>
			<th></th>
			<th>品名</th>
			<th>数量</th>
			</tr>
		</thead>
		<tbody id="item_table">
		{{ formset.management_form }}
		</tbody>
		</table>

		<br/>

		<input type="submit" value="提交"/>
	</form>
</div>

<div class="col col-lg-6">
	<label>筛选交易品</label>
	<input id="item_keyword" type="text"/>
	<div id="id_filtered_items">
	</div>
</div>
{% endblock %}
