{% extends "base.html" %}

{% block header %}销售{% endblock %}

{% block extra_script %}
	<script>
		jQuery(document).ready(function(){
			jQuery("#item_keyword").keyup(function(event){
				if (event.keyCode != 13) {
					return;
				}
				alert(jQuery("#item_keyword").val());
			});
		});
	</script>
{% endblock %}

{% block content %}
<div class="col col-lg-6">
	<form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}

		<table cellpadding="4" border="1">
		<thead>
			<tr>
			<th></th>
			<th>品名</th>
			<th>数量</th>
			</tr>
		</thead>
		<tbody id="item_table">
		{{ formset.management_form }}
		</tbody>
		</table>

		<br/>

		<input type="submit" value="提交"/>
	</form>
</div>

<div class="col col-lg-6">
	<label>筛选交易品</label>
	<input id="item_keyword" type="text"/>
	<div id="id_filtered_items">
	</div>
</div>
{% endblock %}
