{% extends "base.html" %}

{% block header %}销售{% endblock %}

{% block extra_script %}
	<script>
		jQuery(document).ready(function(){
			jQuery("#item_keyword").keyup(function(event){
				if (event.keyCode != 13) {
					return;
				}
				if (jQuery("#item_keyword").val() == "") {
					return;
				}
				jQuery.post("/vault/item/",
					{
						keyword: jQuery("#item_keyword").val(),
						csrfmiddlewaretoken: '{{ csrf_token  }}'
					},
					function(data,status){
						items = eval("("+data+")");
						total = jQuery("input[name=\"form-TOTAL_FORMS\"]");
						var p = parseInt(total.attr("value"))
						total.attr({"value": p+items.length});
						for (i in items)
						{
							n = items[i].str
							j = p + parseInt(i)
							r = jQuery("<tr></tr>");
							jQuery("#item_table").append(r);
							r.append(`<td><input  type="checkbox" name=form-${j}-check /></td>
										<td>${n}</td>
										<td><input type="number" name=form-${j}-quantity value="1" />
											<input type="hidden" name=form-${j}-id value=${items[i].id} /> </td>`);
						}
					});
			});
		});
	</script>
{% endblock %}

{% block content %}
<div class="col col-lg-6">
	<form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}

		<table cellpadding="4" border="1">
		<thead>
			<tr>
			<th></th>
			<th>品名</th>
			<th>数量</th>
			</tr>
		</thead>
		<tbody id="item_table">
		{{ formset.management_form }}
		{% for form in formset %}
		<tr>
			<td>{{form.check}}</td>
			<td>{{form.item_name}}</td>
			<td>
				{{form.quantity}}
				{% for hidden in form.hidden_fields %}
				{{ hidden }}
				{% endfor %}
			</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>

		<br/>

		<input type="submit" value="提交"/>
	</form>
</div>

<div class="col col-lg-6">
	<label>筛选交易品</label>
	<input id="item_keyword" type="text"/>
	<div id="id_filtered_items">
	</div>
</div>
{% endblock %}
