{% extends "base.html" %}

{% block header %}任务详情{% endblock %}

{% block content %}
<div class="col-sm-auto">
	<table cellpadding="4" border="1">
		<tr>
			<th>任务编号</th>
			<th>任务描述</th>
			{% if order %}
			<th>订单编号</th>
			<th>订单状态</th>
			<th>旧版刷单状态</th>
			<th>刷单平台</th>
			<th>发货仓库</th>
			<th>销售额</th>
			{% endif %}
		</tr>
		<tr>
			<td><a href="{% url 'task_previous' object.id %}">前一任务</a></td>
			<td><a href="{% url 'task_next' object.id %}">后一任务</a></td>
			<td>{{object.id}}</td>
			<td>{{object.desc}}</td>
			{% if order %}
			<td>{{order.oid}}</td>
			<td>{{order.status}}</td>
			<td>{{order.fake}}</td>
			<td>{{order.counterfeit}}</td>
			<td>{{order.repository}}</td>
			<td>{{order.sale}}</td>
			{% endif %}
		</tr>
	</table>
	<br/>

	{% if uncleared or unsettled %}
	<table cellpadding="4" border="1">
		<tr>
			<th></th>
			<th>组织</th>
			<th>标的</th>
			<th>账户</th>
			<th>余额</th>
		</tr>
		{% for a, b in uncleared %}
		<tr>
			{% if not forloop.counter0 %}
			<td rowspan={{uncleared | length}}><a href="{% url 'task_clear_bill' object.id %}">货款结算</a></td>
			{% endif %}
			<td>{{a.organization}}</td>
			<td>{{a.item}}</td>
			<td>{{a}}</td>
			<td>{{b}}</td>
		</tr>
		{% endfor %}
		{% for a, b in unsettled %}
		<tr>
			{% if not forloop.counter0 %}
			<td rowspan={{unsettled | length}}>货物交割</td>
			{% endif %}
			<td>{{a.organization}}</td>
			<td>{{a.item}}</td>
			<td>{{a}}</td>
			<td>{{b}}</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
	<br/>

	<table cellpadding="4" border="1">
	<tr>
		<th>时间</th>
		<th>概述</th>
		<th>标的</th>
		<th colspan="{{detail_spans}}">详情</th>
	</tr>
	{% for t in trans %}
	<tr>
		<td>{{t.time | date:"Y-m-d H:i:s" }}</td>
		<td>{{t.desc}}</td>
		{% for s in t.ss %}
		{% if not forloop.counter0 %}
			<td>{{s.account.item}}</td>
		{% endif %}
		<td align="left">{{s.account}}</td>
		{% if t.is_money %}
			<td align="right">{{s.change | stringformat:"+.2f"}}</td>
		{% else %}
			<td align="right">{{s.change | stringformat:"+.0f"}}</td>
		{% endif %}
		{% endfor %}
	</tr>
	{% endfor %}
	</table>
</div>
{% endblock %}
