{% extends "base.html" %}

{% block header %}任务详情{% endblock %}

{% block extra_script %}
	<script>
		jQuery(document).ready(function(){
			jQuery("#item_keyword").on("keyup", function(){
				var val = jQuery(this).val();
				jQuery("#item_table tr").filter(function(){
					jQuery(this).toggle(jQuery(this).text().indexOf(val) > -1)
				});
			});
		});
	</script>
{% endblock %}


{% block content %}
<div class="col-sm-auto">
	<table cellpadding="4" border="1">
		<tr>
			<th></th>
			<th>编号</th>
			<th>概述</th>
		</tr>
		<tr>
			<td><a href="{% url 'task_delete' object.id %}">删除</a></td>
			<td>{{object.id}}</td>
			<td>{{object.desc}}</td>
		</tr>
	</table>

	<br/>

	<div>
		<a href="{% url 'task_buy_future' object.id %}">进货</a>
		<a href="{% url 'task_receive_future' object.id %}">应收货物交割</a>
		<br>
		<label>筛选交易品</label><input id="item_keyword" type="text" placeholder="筛选..."/>
		<table cellpadding="4" border="1">
		<tbody id="item_table">
		{% for i in items %}
		<tr style="display:none">
			<td>{{i.name}}</td>
			<td>+</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
	</div>

	<table cellpadding="4" border="1">
	<caption>交易明细</caption>
	<tr>
		<th></th>
		<th>时间</th>
		<th>概述</th>
		<th>组织</th>
		<th>标的</th>
		<th colspan="{{detail_spans}}">详情</th>
	</tr>
	{% for t in trans %}
	<tr>
		<td><a href="{% url 'transaction_delete' t.id t.task.id %}">删除</a></td>
		<td>{{t.time}}</td>
		<td>{{t.desc}}</td>
		{% for s in t.ss %}
		{% if not forloop.counter0 %}
			<td>{{s.account.organization}}</td>
			<td>{{s.account.item}}</td>
		{% endif %}
		<td align="left"><a href="{% url 'account_detail' s.account.id %}">{{s.account}}</a></td>
		<td align="right">{{s.change}}</td>
		{% endfor %}
	</tr>
	{% endfor %}
	</table>
</div>
{% endblock %}
