<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<style>
			@page {
				size: 100mm 170mm;
				margin-left: 0;
				margin-right: 0;
			}
			body {
				font-size: 18px;
			}
		</style>
	</head>
	<body>
		<table cellpadding="4" border="1">
			<tr>
				<td>{{object.desc}}</td>
				<td>{{order.oid}}</td>
			</tr>
			{% for split in invoices %}
				<tr>
					<td>{{ split.account.item }}</td>
					<td>{{ split.change | stringformat:"+.0f"}}</td>
				<tr>
			{% endfor %}
		</table>
	</body>
</html>
