{% extends "navi_base.html" %}

{% block header %}任务列表{% endblock %}

{% block content %}
<div class="col-sm-auto">
	<table cellpadding="4" border="1">
		<tr>
			<th>编号</th>
			<th>开始</th>
			<th>结束</th>
			<th>描述</th>
		</tr>
	{% for object in object_list %}
		<tr>
			<td><a href="{% url 'task_detail' object.id %}">{{object.id}}</a></td>
			<td>{{object.start | date:"Y-m-d H:i:s" }}</td>
			<td>{{object.end | date:"Y-m-d H:i:s" }}</td>
			<td>{{object.desc}}</td>
		</tr>
	{% endfor %}
	</table>

	{% if is_paginated %}
		<div class="pagination">
			<span class="step-links">
				{% if page_obj.has_previous %}
					<a href="?page={{ page_obj.previous_page_number }}">前一页</a>
				{% endif %}

				<span class="current">
					{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
				</span>

				{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}">后一页</a>
				{% endif %}
			</span>
		</div>
	{%endif %}
</div>
{% endblock %}
