{% extends "base.html" %}

{% block header %}任务详情{% endblock %}

{% block content %}
<div class="col-sm-auto">
	<p>{{object.desc}}</p>
	<a href="{% url 'shipping_in_create' 0 object.id %}">进货</a>
	<a href="{% url 'shipping_in_create' 1 object.id %}">出货</a>
	<table cellpadding="4" border="1">
	<tr>
		<th>时间</th>
		<th>概述</th>
		<th>详情</th>
	</tr>
	{% for t in trans %}
	<tr>
		<td>{{t.time}}</td>
		<td>{{t.desc}}</td>
		<td>
			<table cellpadding="4">
				{% for s in t.ss %}
					<tr>
						<td align="left"><a href="{% url 'account_detail' s.account.id %}">{{s.account}}</a></td>
						<td align="right">{{s.change}}</td>
					</tr>
				{% endfor %}
			</table>
		</td>
	</tr>
	{% endfor %}
	</table>
</div>
{% endblock %}
