{% extends "base.html" %}

{% block header %}天猫商品{% endblock %}

{% block content %}
<div class="col-sm-auto">
	<table border="1" cellpadding="4">
		<tr>
			<th>编号</th>
			<th>名称</th>
			<th colspan="2">映射</th>
		</tr>
		{% for tmcommodity in object_list %}
			<tr>
				<td><a href="{% url 'tmcommodity_detail' tmcommodity.id %}">{{tmcommodity.id}}</a></td>
				<td>{{tmcommodity.name}}</td>
				<td><a href="{% url 'tmcommoditymap_create' tmcommodity.id%}">+</a></td>
				<td class="text-monospace">{{ tmcommodity.map }}</td>
			<tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
