<head>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />


<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
</head>

<form action="" method="post">
	{% csrf_token %}
	<fieldset>
		<legend>交易概要</legend>
		{{ form.as_p }}
	</fieldset>

	<br/><br/>

	<fieldset>
		<legend>交易明细</legend>
		{% for split in splits %}
			<div>
				<tr>
					<th><label>{{split.account}}:</label></th>
					<td><input type="number" value={{split.change}} step="0.01" id={{split.id_change}}/></td>
					<th><label>删除:</label></th>
					<td><input type="checkbox" id={{split.id_delete}} />
						<input type="hidden" value={{split.account.id}} id={{split.id_account}} />
						<input type="hidden" value={{split.id}} id={{split.id_id}} />
					</td>
				</tr>
			</div>
		{% endfor %}
	</fieldset>

	<input type="submit" value="提交" />
</form>
