{% extends "base.html" %}

{% block header %}编辑交易{% endblock %}

{% block extra_link %}
	<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
{% endblock %}

{% block extra_script %}
	<script type="text/javascript" src="/admin/jsi18n/"></script>
	<script type="text/javascript" src="/static/admin/js/core.js"></script>
	<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
	<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
	<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
	<script type="text/javascript" src="/static/admin/js/actions.js"></script>
	<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
	<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
	<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
	<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
	<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
	<script>
		function __f_add_account(aid, aname){
			p = jQuery("<div></div>");
			jQuery("#id_fieldset_for_splits").append(p);
			total = jQuery("#id_splits-TOTAL_FORMS");
			var i = parseInt(total.attr("value"))
			total.attr({"value": i+1});
			var change_name = `splits-${i}-change`
			var change_id = `id_splits-${i}-change`
			var del_id = `id_splits-${i}-DELETE`
			var del_name = `splits-${i}-DELETE`
			var account_name = `splits-${i}-account`
			var account_id = `id_splits-${i}-account`
			var split_name = `splits-${i}-id`
			var split_id = `id_splits-${i}-id`
			var transaction_name = `splits-${i}-transaction`
			var transaction_id = `id_splits-${i}-transaction`
			var transaction_value = jQuery("#id_transaction").text()
			p.append(`<label>${aname} : </label><tr><th></th><td><input type="number" name=${change_name} step="0.01" id=${change_id} /></td></tr><tr><th><label for=${del_id}>Delete:</label></th><td><input type="checkbox" name=${del_name} id=${del_id} /><input type="hidden" name=${account_name} value=${aid} id=${account_id} /><input type="hidden" name=${split_name} id=${split_id} /><input type="hidden" name=${transaction_name} value=${transaction_value} id=${transaction_id} /></td></tr>`);
		}

		jQuery(document).ready(function(){
			jQuery("button").click(function(){
				jQuery.post("/vault/account/",
					{
						organization: jQuery("#id_organization").val(),
						csrfmiddlewaretoken: '{{ csrf_token  }}'
					},
					function(data,status){
						accounts = eval("("+data+")");
						p = jQuery("#id_filtered_accounts");
						p.empty();
						for (i in accounts)
						{
							b = jQuery("<button></button>").text("添加");
							p.append(b.attr({"onclick": "__f_add_account("+accounts[i].id+",'"+accounts[i].str+"')"}));
							p.append(jQuery("<label></label>").text(accounts[i].str));
							p.append("<br/>");
						}
					});
			});
		});
	</script>
{% endblock %}

{% block content %}
<div class="col col-lg-6">
	<label>交易编号: </label><label id="id_transaction">{{object.id}}</label>
	<form action="" method="post">
		{% csrf_token %}
		<fieldset>
			<legend>交易概要</legend>
			{{ form.as_p }}
		</fieldset>

		{# formset for splits #}
		<fieldset id="id_fieldset_for_splits">
			<legend>交易明细</legend>
			{{ formset.management_form }}
			{% for form in formset %}
				<div>
					<label>{{form.account_display_name}} : </label>{{ form }}
				</div>
			{% endfor %}
		</fieldset>

		<input type="submit" value="提交" />
	</form>
</div>

<div class="col col-lg-6">
	{{account.as_p}}
	<button>查询账户</button>
	<div id="id_filtered_accounts">
	</div>
</div>
{% endblock %}
