{% extends "base.html" %}

{% block header %}交易详情{% endblock %}

{% block content %}
<div class="col-sm-auto">
	<div>
		<a href="{% url 'transaction_update' object.id %}">编辑</a>
		<a href="{% url 'transaction_duplicate' object.id %}">复制</a>
	</div>
	<table cellpadding="4" border="1">
		<tr><th>编号</th><td>{{object.id}}</td></tr>
		<tr>
			<th>任务</th>
			{% if object.task %}
				<td><a href="{% url 'task_detail' object.task.id %}">{{object.task}}</a></td>
			{% else %}
				<td>{{object.task}}</td>
			{% endif %}
		</tr>
		<tr><th>组织</th><td>{{organization}}</td></tr>
		<tr><th>标的</th><td>{{item}}</td></tr>
		<tr><th>概述</th><td>{{object.desc}}</td></tr>
		<tr><th>时间</th><td>{{object.time}}</td></tr>
		<tr>
			<th>明细</th>
			<td>
				<table cellpadding="4">
					{% for s in splits %}
						<tr>
							<td align="left"><a href="{% url 'account_detail' s.account.uuid %}">{{s.account}}</a></td>
							<td align="right">{{s.change}}</td>
						</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
	</table>
</div>
{% endblock %}
