{% extends "base.html" %}

{% block header %}编辑交易{% endblock %}

{% block script %}
	<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
	<script type="text/javascript" src="/admin/jsi18n/"></script>
	<script type="text/javascript" src="/static/admin/js/core.js"></script>
	<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
	<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
	<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
	<script type="text/javascript" src="/static/admin/js/actions.js"></script>
	<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
	<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
	<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
	<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
	<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
	<script>
		jQuery(document).ready(function(){
			jQuery("button").click(function(){
				jQuery.post("/vault/account/",
					{
						organization: jQuery("#id_organization").val(),
						csrfmiddlewaretoken: '{{ csrf_token  }}'
					},
					function(data,status){
					alert("数据: " + data + "\n状态: " + status);
				});
			});
		});
	</script>
{% endblock %}

{% block content %}
	<form action="" method="post">
		{% csrf_token %}
		<fieldset>
			<legend>交易概要</legend>
			{{ form.as_p }}
		</fieldset>

		<br/><br/>

		{# formset for splits #}
		<fieldset>
			<legend>交易明细</legend>
			{{ formset.management_form }}
			{% for form in formset %}
				<div>
					<label>{{form.account_display_name}} : </label>{{ form }}
				</div>
			{% endfor %}
		</fieldset>

		<input type="submit" value="提交" />
	</form>

	<br></br>
	<hr></hr>

	<div>
		{{account.as_p}}
		<button>查询账户</button>
	</div>
{% endblock %}
