<script>
	function on_item_retrieved(data,status){
		items = eval("("+data+")");
		total = jQuery("input[name=\"form-TOTAL_FORMS\"]");
		var p = parseInt(total.attr("value"))
		total.attr({"value": p+items.length});
		var repo = jQuery("#id_repository").val();
		var str_repo = jQuery("#id_repository option[value="+repo+"]").text();
		var stat = jQuery("#id_status").val();
		var str_stat = jQuery("#id_status option[value="+stat+"]").text();
		var ship = jQuery("#id_ship").val();
		var str_ship = jQuery("#id_ship option[value="+ship+"]").text();
		for (i in items)
		{
			n = items[i].str
			j = p + parseInt(i)
			r = jQuery("<tr></tr>");
			q = 1
			jQuery("#item_table").prepend(r);
			r.append(`<td><input  type="checkbox" name=form-${j}-check checked/></td>
						<td>${str_repo}</td>
						<td>${str_ship}</td>
						<td>${str_stat}</td>
						<td>${n}</td>
						<td><input type="number" name=form-${j}-quantity value=${q} /></td>
						<input type="hidden" name=form-${j}-id value=${items[i].id} />
						<input type="hidden" name=form-${j}-repository value=${repo} />
						<input type="hidden" name=form-${j}-status value=${stat} />
						<input type="hidden" name=form-${j}-ship value=${ship} />`);
		}
	}
</script>
