<div>
	<a href="{% url 'account_create' object.id %}">增加子账户</a>
	{% if editable %}
		<a href="{% url 'account_update' object.id %}">修改账户</a>
	{% endif %}
	{% if deletable %}
		<a href="{% url 'account_delete' object.id %}">删除账户</a>
	{% endif %}
</div>

<p></p>

<table border="1" cellpadding="32">
	<caption>路径</caption>
	<tr>
		{% for account in ancestors %}
			<td><a href="{% url 'account_detail' account.id %}">{{ account.name }}</a></td>
		{% endfor %}
	</tr>
</table>

<p></p>

<table border="1" cellpadding="4">
	<caption>名下账户</caption>
	<tr>
		<th>账户编号</th>
		<th>账户名称</th>
	</tr>
	{% for account in descendants %}
		<tr>
			<td><a href="{% url 'account_detail' account.id %}">{{ account.id }}</a></td>
			<td>{{ account }}</a></td>
		</tr>
	{% endfor %}
</table>

<p></p>

<table border="1" cellpadding="4">
	<caption>流水 | 余额: {{object.balance}}</caption>
	<tr>
		<th>调整编号</th>
		<th>时间</th>
		<th>账户</th>
		<th>调整幅度</th>
		<th>余额</th>
	</tr>
	{% for split in object_list %}
		<tr>
			<td><a href="{% url 'split_detail' split.id %}">{{ split.id }}</a></td>
			<td>{{ split.transaction.time }}</td>
			<td>{{ split.account}}</td>
			<td>{{ split.change}}</td>
			<td>{{ split.balance}}</td>
		<tr>
	{% endfor %}
</table>

<p></p>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">前一页</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">后一页</a>
        {% endif %}
    </span>
</div>
