<div>
	<a href="{% url 'account_create' object.id %}">增加子账户</a>
	{% if editable %}
		<a href="{% url 'account_update' object.id %}">修改账户</a>
		<a>删除账户</a>
	{% endif %}
</div>
<h2>路径</h2>
<table border="1" cellpadding="32">
	<tr>
		{% for account in ancestors %}
			<td><a href="{% url 'account_detail' account.id %}">{{ account.name }}</a></td>
		{% endfor %}
	</tr>
</table>

<h2>子账户</h2>
<ul>
	{% for account in children %}
		<li><a href="{% url 'account_detail' account.id %}">{{ account.name }}</a></li>
	{% empty %}
		<li>没有子账户</li>
	{% endfor %}
</ul>

<h2>流水</h2>
