{% block content %}
	<div>
		<h3>
			<a href="{% url 'commodity_create' %}">+商品</a>
		</h3>
	</div>
	<div>
		<table border="1" cellpadding="4">
			<caption>商品列表</caption>
			<tr>
				<th>编号</th>
				<th>供应商</th>
				<th>品名</th>
				<th>进价.批发</th>
				<th>进价.采购</th>
				<th>运费.进货</th>
				<th>运费.出货</th>
				<th>包装费</th>
				<th>售价.天猫</th>
				<th>售价.京东</th>
				<th>备注</th>
			</tr>
			{% for object in object_list %}
				<tr>
					<td>{{ object.id }}</td>
					<td>{{ object.supplier }}</td>
					<td>{{ object.name }}</td>
					<td>{{ object.pvalue }}</td>
					<td>{{ object.bvalue }}</td>
					<td>{{ object.express_in }}</td>
					<td>{{ object.express_out }}</td>
					<td>{{ object.wrap_fee }}</td>
					<td>{{ object.price_tm }}</td>
					<td>{{ object.price_jd }}</td>
					<td>{{ object.note }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
