<h3>
	<a href="{% url 'task_list' %}">任务列表</a>
	<a href="{% url 'task_update' object.id %}">编辑</a>
	<a href="{% url 'task_delete' object.id %}">删除</a>
	<a href="{% url 'transaction_create' object.id %}">+交易</a>
</h3>
<h2>任务明细</h2>
<table border="1">
	<caption>任务描述: {{object.desc}} | 任务编号: {{object.id}}</caption>
	<tr>
		<th>交易编号</th>
		<th>时间</th>
		<th>概述</th>
		<th>详情</th>
	</tr>
	{% for transaction in transactions %}
		<tr>
			<td><a href="{% url 'transaction_detail' transaction.id %}">{{ transaction.id }}</a></td>
			<td><a>{{ transaction.time }}</a></td>
			<td><a>{{ transaction.desc }}</a></td>
			<td>
				<table cellpadding="1">
					{% for s in transaction.splits %}
						<tr>
							<td>{{s.account}} :</td>
							<td>{{s.change}}</td>
						</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
	{% endfor %}
</table>
