<h3>
	<a href="{% url 'task_detail' object.task.id %}">所属任务</a>
	<a href="{% url 'transaction_update' object.id %}">编辑</a>
	<a href="{% url 'transaction_delete' object.id %}">删除</a>
	<a href="{% url 'split_create' object.id %}">+变动</a>
<h3>
<h2>交易明细</h2>
<table border="1">
	<caption>交易描述: {{object.desc}} | 交易编号: {{object.id}}</caption>
	<tr>
		<th>调整编号</th>
		<th>账户</th>
		<th>调整</th>
	</tr>
	{% for s in object.splits %}
		<tr>
			<td><a href="{% url 'split_detail' s.id %}">{{s.id}}</a></td>
			<td>{{s.account}} :</td>
			<td>{{s.change}}</td>
		</tr>
	{% endfor %}
</table>
